<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ZHANG XINYUN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <h1>ZHANG XINYUN</h1>
    <h3>hey there!</h3>
    <li><a href="{% url 'about' %}">about</a></li>
    <li><a href="{% url 'portfolio' %}">portfolio</a></li>

    <button onclick="buttonfunc()">click</button>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
